@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
@import url(//fonts.googleapis.com/css?family=Kaushan+Script);

html, body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif','Consolas','Helvetica Neue';
}

iframe {
    display: block;
    overflow: auto;
    border: 0;
    margin: 0;
    padding: 0;
    margin: 0;
}

.iframe {
    height: 49px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ddd;
}

.sidebar .sidebar-menu ul {
    display: none;
}

.sidebar ul {
    list-style: none;
}

    .sidebar ul li a {
        display: block;
        padding: 5px 10px;
    }

.wrapper .sidebar-offcanvas .sidebar .sidebar-menu li a:hover {
    background: #2a85cb;
    color: white;
}

.wrapper .sidebar-offcanvas .sidebar .izquierda {
    float: left;
    margin-right: 10px;
}

.wrapper .sidebar-offcanvas .sidebar .derecha {
    float: right;
}

.wrapper .left-side .sidebar .sidebar-menu .activado {
    background: #ddd;
}
